# Proprietary Source Code (Do not push)
*.go
go.mod
go.sum

# Database
*.db
*.db-journal
*.db-wal
*.db-shm

# Environment and Credentials
.env
.env.*
*.pem
*.key

# Internal Wiki and Planning
PLAN.md
REQUIREMENTS.md
wiki/
DEPLOY.md

# Logs and Executables
*.log
*.exe
