# Binary
les-app
*.exe

# Database
les.db
les.db-journal
les.db-wal
les.db-shm
les.db*

# Environment
.env
.env.*
*.pem
*.key

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
/dist/
/build/

# Logs
*.log

# Binary installers
*.deb
*.rpm
